@import "tailwindcss";

body {
  overflow-x: hidden;
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-outline-white {
  -webkit-text-stroke: 2px white;
}
